<div id="about">
   <h2>About the developer</h2>
   <hr />
   <div>
      <p>
         Nate is a 2.5 year veteran in the software develop industry.
         With no formal training in software development and computer science,
         Nate is self taught.
      </p>
      <p>Qualities:</p>
      <ul *ngFor="let qual of qualities">
         <li>{{qual}}</li>
      </ul>
      <p>Technologies:</p>
      <ul *ngFor="let tech of technologies">
         <li>{{tech}} </li>
      </ul>
   </div>
</div>