<h1>Hacker News Haven!</h1>
<p>Find all the current best stories from Hacker News here!</p>
<hr />
<div id="stories">
   <div *ngIf="loading">
      <h2>Loading Stories...</h2>
   </div>
   <div *ngIf="!loading">
      <div class="search">
         <input class="searchbar" type="text" placeholder="Search by title/author" />
         <!-- <button class="clear">X</button> -->
      </div>
      <div *ngFor="let story of stories">
         <story [story]="story"></story>
      </div>
   </div>
</div>